@import 'common.css';
@import 'footer.css';

body {
	background: #111 url('../img/contact-bg.jpg') center center no-repeat;
	background-size: cover;
}

.panel {
    opacity: 0.9;
}

.email {
	text-align: center;
	font-weight: bolder;
}
