.sponsors {
  background: #222;
  border-top: solid 1px #111;
}

.sponsors img {
  padding: 6px 0;
  margin-left: 8px;
}

.sponsors img:first-child {
  margin-left: 0px;
}

.sponsor-logos {
  margin: 0 auto;
}

#footer {
}

@media only screen and (min-width: 768px) {
  #footer {
    height: 60px;
  }
}