.footer {
    position: relative;
    width: 100%;
    text-align: center;
    background: #222;
    border-top: solid 1px #141414;
    padding-top: 6px;
}

@media screen and (min-width: 768px) {
    .footer {
        position: absolute;
        bottom: 0;
        height: 60px;
    }
}
