@import 'common.css';
@import 'footer.css';

body {
	background: url('../img/sponsors-bg.jpg') center center no-repeat fixed;
	background-size: cover;
}

h1 {
	color: #fff;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}

h2 {
	margin: 0 0 1em;
}

.stop-gap {
	margin-top: 1em;
}

.sponsor-gallery .frame {
	max-height: 300px;
	width: 100%;
	text-align: center;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.sponsor-gallery img {
	display: inline-block;
	vertical-align: middle;
	max-height: 200px;
	max-width: 100%;
}

.gold, .bronze {
	border: solid 8px #FF9D00;
	border-radius: 3px;
	padding: 12px;
	background: #050505;
	color: #eee;
	margin-bottom: 1em;
}

.bronze {
	border-color: #A67D3D;
}

.ribbon:before {
	content: " ";
	position: absolute;
	left: 15px;
	margin-top: -4px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 1em 0 1em 2em;
	border-color: transparent transparent transparent #050505;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #050505;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.ribbon:after {
	content: " ";
	margin-top: -4px;
	position: absolute;
	right: 15px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 1em 2em 1em 0;
	border-color: transparent #050505 transparent transparent;
	line-height: 0px;
	_border-color: #000000 #050505 #000000 #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}

.ribbon {
	text-align: center;
	color: #211400;
	font-weight: bolder;
	padding: 4px 0;

	background: rgb(234,185,45);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VhYjkyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzk4MTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(234,185,45,1) 0%, rgba(199,152,16,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,185,45,1)), color-stop(100%,rgba(199,152,16,1)));
	background: -webkit-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
	background: -o-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
	background: -ms-linear-gradient(top,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
	background: linear-gradient(to bottom,  rgba(234,185,45,1) 0%,rgba(199,152,16,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#c79810',GradientType=0 );
}