@import 'common.css';
@import 'footer.css';

#wrap {
	background: #111 url('../img/four-slider.jpg') center center no-repeat;
	background-size: cover;
}

h1, h2, h3 {
	color: #fafafa;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
}

.list-group {
	box-shadow: 0 0 4px rgba(10, 10, 10, 0.3);
	border: none !important;
}